.dl-table {
  a {
    @supports ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      text-underline-offset: .8rem;
    }
    @supports not ((text-decoration-thickness: initial) and (text-underline-offset: initial)) {
      padding-bottom: .45rem;
    }
  }

  .btn, .gumroad-button  {
    margin: 1rem 0;
  }

  .about_img {
    border-radius: 10%;  /* Adjust the radius as needed */
  }

  .description-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  @font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  body {
    font-family: 'Rocher';
    text-align: center;
    font-size: 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1 {
    margin: 0;
  }
  
  .greytext {
    font-family: Rocher;
    base-palette: 9;
  }
  
  .purpletext {
    font-family: Rocher;
    base-palette: 6;
  }
  
  .bluetext {
    color: #4a90e2;
    font-weight: 600;
  }
  
  .minttext {
    font-family: Rocher;
    base-palette: 7;
  }
  
  .grays {
    font-palette: --Grays;
  }
  
  .purples {
    font-palette: --Purples;
  }
  
  .mint {
    font-palette: --Mint;
  }
}
